* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f5f6fa;
    text-decoration: none;
}

body, p {
    background-color: #f5f6fa;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    background-color: #f5f6fa;
}

.nav-bar {
    background: #fff;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    border-bottom: 3px solid #8d599f;
}

.logo {
    cursor: pointer;
    width: 10%;
    height: auto;
    background-color: #f5f6fa;
}

.home-button {
    color: white;
}

.code_env_links {
    background-color: #f5f6fa;
    list-style: none;
}

.code_env_links li {
    background-color: #f5f6fa;
    display: inline-block;
    padding: 0px 20px;
}

.code_env_links li a {
    background-color: #f5f6fa;
    transition: all 0.3s ease 0s;
}

.code_env_links li a:hover {
    color: mediumpurple
}

button {
    padding: 9px 25px;
    background-color: mediumpurple;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: mediumpurple;
}

.side-nav-wrapper .side-nav {
    position: fixed;
    top: 5;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 30px 0;
    transition: all 0.5s ease;
    list-style: none;
    overflow-y: scroll;
    padding-top: 0px;
}


.side-nav-wrapper .side-nav ul li a{
    display: block;
    padding: 15% 10%;
    border-bottom: 1px solid #ececec;
}

.side-nav-wrapper .side-nav ul li a:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: #8d599f;
}

.side-nav-wrapper .side-nav ul li a:hover{
    color: #8d599f;
}

.side-nav-wrapper .side-nav ul li a:hover, 
.side-nav-wrapper .side-nav ul li a:active{
    color: #8d599f;
    background: linear-gradient(to right, #fff, #f6edfc);
}

.accordion {
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.compile {
    position: fixed;
    bottom: 225px;
    right: 550px;
    display: none;
}

.download {
    position: fixed;
    bottom: 225px;
    right: 350px;
    display: none;
}

.compile-text {
    background-color: mediumpurple;
    color: white;
}

.compile-icon {
    background-color: mediumpurple;
    align-content: center;
    color: white;
}

.file-upload {
    display: inline-block;
    position: fixed;
    margin: auto;
    left: 20%;
    right: 0;
    top: 10%;
    bottom: 0;
    width: 300px;
    height: 50px; 
}

.file-upload-txt {
    color: black;
}

.file-upload-button {
    color: white;
}

#submit {
    float: right;
}

.form {
    overflow: hidden;
    width: 300px;
}

.inpFile, .submit {
    vertical-align: middle;
}


ion-icon {
    font-size: 1.5rem;  
}

.chartBox {
    width: 950px;
    position: fixed;
    top: 300px;
    right: 100px;
    display: none;
}

.boxed {
    font-size: 32px;
    display: inline-block;
    height: 100px; 
    padding-top: 20px;
    padding-left: 60px; 
    padding-right: 60px; 
    line-height: 50px; 
    left: 400px;
    position: absolute;
    background-color: lavender;
    border-style: solid;
    border-color: #8d599f;
}

.data-block {
    top: 300px;
    display: none;
}

.second-block {
    top: 500px;
    display: none;
}

.block-arrow {
    font-size: 4rem;  
    position: fixed;
    top: 410px;
    left: 460px;
    color: #8d599f;
    display: none;
}